#content-wrapper {
    max-width: 960px;
    margin: 0 auto;

}

#sidebar {
    width: 33%;
    display: inline-block;
    background-color: teal;
    box-sizing: border-box;
    border: solid;
    border-color: black;
    padding-left: 10px;
    position: sticky
}

#main {
    width: 66%;
    display: inline-block;

}
body {
    background-color: whitesmoke;
    
}

P {
    font-family: Arial, Helvetica, sans-serif;
    
}

img {

    float: left;
    padding: 10px;

}