#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url(dark-honeycomb.png);
    
}

#sidebar {
    width: 33%;
    display: inline-block;
    background-color: #4aaaa5;
    box-sizing: border-box;
    border: solid;
    border-color: black;
    padding-left: 10px;

}

#text_box {
    width: 800px;
    height: 250px;
    padding: 20px;
    border: solid;
    border-color: black;
    background-color: #ffffff;
    
}

P {
    font-family: Arial, Helvetica, sans-serif;
    
}

img {

    float: left;
    padding: 10px;

}